
Service/.vs/
Service/Api/Api/bin
Service/Api/Api/obj
Service/Api/Services/bin
Service/Api/Services/obj
Service/Api/Domain/bin
Service/Api/Domain/obj
Service/Utility/Logging/bin
Service/Utility/Logging/obj
